@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.three-container {
  width: 100%;
  height: 100%;
}

.social-container {
  position: absolute;
  padding: 40px 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  max-width: 1240px;
  height: 90vh;
  margin: auto;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  pointer-events: none;
}

a {
  pointer-events: all;
  text-decoration: none;
  color: #fff;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.3));
  transition: color 400ms ease;
  font-size: 28px;
  font-weight: 900;
}

a:hover {
  color: #f581c1;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-left: 20px;
  transform: scale(1);
  transition: transform 300ms ease-out, color 400ms ease;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.3));
}

li:hover {
  transform: scale(1.1);
}

svg {
  color: #fff;
  transition: color 400ms ease;
}

svg:hover {
  color: #f581c1 !important;
}

.loading-container {
  background-color: #f581c1;
  width: 100vw;
  height: 100vh;
  position: absolute !important;
  top: 0 !important;
  transform: translate(0%, 0%) !important;
  left: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container div {
  color: #ffffff;
  transform: translate(0px, 0px) !important;
  font-weight: 900;
  font-size: 3rem;
}
